html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
body {
    margin: 0;
}

.wrap {
    background: #120100;
    width: 100vw;
    height: 100vh;
}

.wrap>img {
    top: 50%;
    /*偏移*/
    transform: translateY(-50%);
    width: 100vw;
    position: relative;

}